html {
  background: url(../images/smooooth.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#time-group {
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1;
}

#time {
  font-weight: 500;
  font-size: 1050%;
  padding-top: 5.6%;
  letter-spacing: -5px;
}

#time-message {
  font-size: 3.5em;
  font-weight: 450;
  margin-top: -12%;
}

#todo-prompt {
  width: 100%;
}

#todo-prompt h3 {
  color: rgb(255, 255, 255);
  font-size: 2.2em;
  font-weight: 300;
  text-align: center;
  margin-top: -0.35%;
}

#todo-input {
  display: block;
  margin: 0 auto;
  background: transparent;
  border: none;
  border-bottom: 2px rgb(255, 255, 255) solid;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  color: rgb(255, 255, 255);
  width: 35%;
  line-height: 150%;
  margin-top: -2.5%;
}

#todo-input:focus {
  border: none;
  outline: none;
  border-bottom: 2px rgb(255, 255, 255) solid;
}
